<h4>Listado</h4>

<!--
isFirst = first => Toma el primer valor
isLast  = last  => Toma el último valor
isEven  = even  => Toma el valor par
isOdd   = odd   => Toma el valor impar

ngClass => agregar valores condicionales
-->
<ul class="list-group">
  <li
    *ngFor="
      let character of characterList;
      let i       = index;
      let isFirst = first;
      let isLast  = last;
      let isEven  = even;
      let isOdd   = odd
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark' : isLast,
      'list-group-item-primary' : isEven,
    }"
  >
    <div>
      <span class="text-primary"> {{ i + 1 }}. </span>
      <span>{{ character.name }} - </span>
      <strong>Power: </strong>
      <span>{{ character.power }}</span>
    </div>

    <button
      class="btn btn-danger"
      (click)="onDeleteCharacter(i)"
    >
      X
    </button>
  </li>
</ul>
